<!DOCTYPE html>
<html lang="en">
<head>
  <script>
     function validation()
      {
                        var d=document.getElementById('password1').value.trim();
                        var e=document.getElementById('password2').value.trim();

                if(d!=e)
                {
                    document.getElementById('cpss').innerHTML="**Incorrect Password";
                    return false;
                }
                else
               {
                  return true;
               }
     if(d==""){

     document.getElementById('pss').textContent="**Please enter the password";
     return false;

  }
  else{
     document.getElementById('pss').textContent="";
  }
  if((d.length<=5)||(d.length>20)){

     document.getElementById('pss').textContent="**password length must be between 5 and 20";
     return false;

  }
  else{
     document.getElementById('pss').textContent="";
  }

  if(d!=e){

     document.getElementById('pss').textContent="**passwords should be matching";
     return false;
  }
  else{
     document.getElementById('pss').textContent="";
  }


  if(e==""){
     document.getElementById('cpss').textContent="**Please confirm your password";
     return false;
  }
  else{
     document.getElementById('pss').textContent="";
  }


      }
                function onclear(){

                     document.getElementById('pss').innerHTML="";

                     document.getElementById('cpss').innerHTML="";

                }
   </script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    {% include 'alerts.html' %}
<div class="row">
<div class="col-sm-12">
<h1>Change Password</h1>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<form method="post" onsubmit="return validation()" action="{% url 'resetPassword' %}" id="passwordForm">
  {% csrf_token %}
<input type="password" class="input-lg form-control" name="password" id="password1" placeholder="New Password" autocomplete="off" required>
  <span id="pss" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>
<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>-->
<!--<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter<br>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>-->
<!--<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number-->
<!--</div>-->
<!--</div>-->
<input type="password" class="input-lg form-control" name="confirm_password" id="password2" placeholder="Repeat Password" autocomplete="off" required>
   <span id="cpss" style="font-size:12px;margin-top:-5px;" class="text-danger font-weight-bold"></span>

<!--<div class="row">-->
<!--<div class="col-sm-12">-->
<!--<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match-->
<!--</div>-->
<!--</div>-->
<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">

</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>
</body>
</html>