{% load  static %}
<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product  || First-Step</title>
    <link href="{% static 'seller/assets/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'seller/assets/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'seller/assets/vendor/fontawesome/css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static 'seller/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'seller/assets/css/master.css' %}" rel="stylesheet">
    <link href="{% static 'seller/assets/vendor/flagiconcss/css/flag-icon.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{% static 'seller/assets/img/bootstraper-logo.png' %}" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
<!--                <li>-->
<!--                    <a href="{% url 'dashboard' %}"><i class="fas fa-home"></i>Dashboard</a>-->
<!--                </li>-->
                <li>
                    <a href="#uielementsmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Products</a>
                    <ul class="collapse list-unstyled" id="uielementsmenu">
                        <li>
                            <a href="{% url 'product' %}"><i class="fas fa-angle-right"></i> Add products</a>
                        </li>
                        <li>
                            <a href="{% url 'table' %}"><i class="fas fa-angle-right"></i> View products</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <!-- <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a> -->
                                <!-- <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>{{user.first_name}}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="{% url 'profile' %}" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <!-- <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li> -->
                                        <div class="dropdown-divider"></div>
                                        <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>Tables</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">products</div>
                                <div class="card-body">
                                    <p class="card-title"></p>
                                    <table class="table table-hover" id="dataTables-example" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>category</th>
                                                <!-- <th>size</th> -->
                                                <!-- <th>Color</th> -->
                                                <th>Price</th>
                                                <th>Image</th>
                                                <th>Stock</th>
                                                <!-- <th>Description</th> -->
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in products %}
                                            <tr>
                                                <td>{{p.name}}</td>
                                                <td>{{p.category}}</td>
                                                <!-- <td>{{p.size}}</td> -->
                                                <!-- <td><a style="background-color:{{col.code}}"></a></td> -->
                                                <td>{{p.price}}</td>
                                                <td><img src="{{p.product_image.url}}" height="40" width="40"></td>
                                                <td>{{p.stock}}</td>
                                                <!-- <td>{{p.stock}}</td> -->
                                                <td><a href="{% url 'productedit' p.id %}" class="btn btn-sm btn-primary" >Edit</a></td>
                                                <td><a href="{% url 'deleteproduct' p.id %}" class="btn btn-sm btn-danger mb-2 ">Delete</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'seller/assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'seller/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'seller/assets/js/form-validator.js' %}"></script>
    <script src="{% static 'seller/assets/js/script.js' %}"></script>
</body>

</html>